<h1>OAuth2 Client Testing Application</h1>
<p>This is a simple application to test that you have properly implemented an OAuth2 Provider. It does nothing more than go through the 3 step handshake defined for Web Applications that implement OAuth. For more details on this flow, please review <a href="https://developer.github.com/v3/oauth/#web-application-flow">Github's Documentation</a>

<p>The configuration settings are located in <code>config.rb</code></p>